*{
  margin: 0;
  padding: 0;
}
body{
  direction: rtl;
  background-color:  #404552
}
#container{
  margin: auto;
  min-height: 1000px;
}
#navigation{
  margin-top: 10px;
  background-color: #383c4a;
  margin-left: auto;
  margin-right: auto;
  width:1875px;
  min-height: 75px;
  border-radius: 15
}
#navigation .home{
  
  font-size: 40px;
  float: right;
  font-style: italic;
  margin-top:10px;
  margin-right:250px;
  color: #5294e2;
}
#navigation h1{
  float: right;
  font-style: italic;
  margin-top:15px;
  margin-right:250px;
  color: #5294e2;
}
.mozoat{
  border-radius: 10px;
  margin-top:11px;
  margin-left: 775px;
  float: left;
  background-color: #4b5162;
  width: 400px;
  height: 50px;
}

.mozoat a{
  font-weight: 600;
  border-radius: 10px;
			  font-size: 20px;
			  float: right;
			  color: #5294e2;
			  text-align: right;
			  padding: 14px 30.5px;
			  text-decoration: none;
			  }
		  .mozoat a:hover {
		  background-color: teal;
		  color: lightblue;

			  }
        #main h1{
          color: #5294e2;

          margin-top: 75px;
          margin-right: 275px;
        }
        #main img{
          margin-top: 15px;
          border-radius: 25px;
          width: 1350px;
          height: 450px;
          margin-right: 275px;
        }
#main p{
  text-align: justify;
  margin-left: 275px;
  font-size: 25px;
  margin-top: 25px;
  margin-right: 275px;
  color: #5294e2;
}





/*
colorpalete:
#404552
	#383c4a
  #4b5162
  	#5294e2
    #7c818c
*/
